* {
    font-family: Kufam, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
    background:rgba(0, 121, 38, 0.728);
}

button {
    border-radius: 10px;
    padding: 5px 10px;
}

header input {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    outline: none;
}

/**** GENERAL CLASSES ****/

.text-center {
    text-align: center;
}

.justify {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/**** HEADER ****/

header {
    text-align: center;
    background: var(--main-color);
    padding: 10px;
}

h1 {
    color: white;
    font-size: 3em;
}


/**** INNER LIST AREA ****/

main {
    background: #e7ffd8;
    padding: 4vh 0;
}

#list {
    border-radius: 5px;
    padding: 10px;
    margin: 0 20%;
    background: #045b11;
    font-size: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
    color: white;
}

#list:hover {
    transform: scale(1.05);
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
}

#list-title {
    color: white;
    font-style: italic;
}

.list-item {
    color: white;
    width: 75%;
}

.unordered {
    list-style-type: disc;
}

.transparent {
    border: none;
    padding: 5px;
    background: transparent;
    font-size: 25px;
}

.underline {
    border-bottom: solid rgba(0, 121, 38, 0.728);
    width: 75%;
}

textarea {
    display: none;
}

/**** LIST BUTTONS ****/

.delete-button {
    border-color: rgb(147, 3, 3);
    border-radius: 50%;
    height: 24px;
    background: rgb(255, 77, 77);
    float: right;
    margin: 10px 25px;
}

#clear-list-btn {
    border-color: rgb(147, 3, 3);
    background: rgb(255, 77, 77);
}

#copy-list-btn {
    background: rgba(6, 245, 82, 0.728);
    border-color: rgb(2, 169, 49);
}

/**** FOOTER ****/

footer {
    background: var(--main-color);
    padding: 10px;
    color: white;
}

img {
    width: 40px;
    margin: 10px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {

    #list {
        margin: 0 5%;
        font-size: 1rem;
    }

    h1 {
        font-size: 2em;
    }

    #list-title {
        font-size: 20px;
        width: 100%;
    }

    .list-item {
        font-size: 20px;
        width: 70%;
    }

    .delete-button {
        margin: 6px 10px;
    }

    img {
        margin: 0;
    }
}