/* TODO: Make fully responsive */

* {
    font-family: 'Kufam';
}

body {
    margin: 0 auto;
    background: #d0f5ba;
}

button {
    border-radius: 10px;
    padding: 5px 10px;
}

/**** GENERAL CLASSES ****/

.text-center {
    text-align: center;
}

.justify {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/**** HEADER ****/

header {
    text-align: center;
    background: rgba(0, 121, 38, 0.728);
    padding: 10px;
}

h1 {
    color: white;
    font-size: 3em;
}


/**** INNER LIST AREA ****/

main {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin: 10px 25%;
    background: #045b11;
    font-size: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
    color: white;
}

main:hover {
    transform: scale(1.05);
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
}

#list-title {
    color: white;
    font-style: italic;
}

.list-item {
    color: white;
    width: 75%;
}

.unordered {
    list-style-type: disc;
}

.transparent {
    border: none;
    padding: 5px;
    background: transparent;
    font-size: 25px;
}

.underline {
    border-bottom: solid rgb(55, 164, 1);
    width: 75%;
}

textarea {
    display: none;
}

/**** LIST BUTTONS ****/

.delete-button {
    border-color: rgb(147, 3, 3);
    border-radius: 40%;
    height: 20px;
    background: red;
    float: right;
    margin: 10px 25px;
}

#clear-list-btn {
    border-color: rgb(147, 3, 3);
    background: rgb(255, 77, 77);
}

#copy-list-btn {
    background: rgba(6, 245, 82, 0.728);
    border-color: rgb(2, 169, 49);
}